In [7]:
import pandas as pd
df1 = pd.read_csv('order_products__train.csv',error_bad_lines=False)
df11=pd.read_csv('order_products__prior.csv',error_bad_lines=False)
df_o=pd.concat([df1,df11],axis=0)
df_o.to_csv('order_products.csv',index=True)
df_p=pd.read_csv('products.csv',error_bad_lines=False)

In [2]:
df_o.head(5)
df_p.head(5)
df3=pd.merge(df_o,df_p[['product_id','department_id']],on='product_id')
df3.head(100)

    order_id  product_id  add_to_cart_order  reordered  department_id
0          1       49302                  1          1             16
1     816049       49302                  7          1             16
2    1242203       49302                  1          1             16
3    1383349       49302                 11          1             16
4    1787378       49302                  8          0             16
5    2445303       49302                  2          1             16
6    2853065       49302                 12          1             16
7    3231517       49302                  6          1             16
8      38841       49302                  5          1             16
9      45900       49302                 19          0             16
10     76491       49302                  2          1             16
11     78201       49302                  5          1             16
12    142824       49302                  8          0             16
13    175716       49302                  2          1             16
14    191070       49302                  4          0             16
15    212143       49302                  2          0             16
16    258521       49302                  5          0             16
17    262316       49302                  1          0             16
18    269385       49302                  1          1             16
19    274066       49302                  5          0             16
20    277380       49302                 14          0             16
21    312335       49302                  1          1             16
22    316883       49302                  1          0             16
23    323432       49302                  9          0             16
24    337031       49302                  2          1             16
25    353181       49302                  7          1             16
26    364435       49302                  7          1             16
27    375739       49302                  7          0             16
28    384816       49302                  5          1             16
29    442843       49302                 11          1             16
..       ...         ...                ...        ...            ...
70   1501370       49302                  3          1             16
71   1506741       49302                  4          1             16
72   1520528       49302                  8          1             16
73   1538372       49302                  5          1             16
74   1550742       49302                  3          1             16
75   1638864       49302                  4          1             16
76   1644444       49302                  4          1             16
77   1659575       49302                 12          1             16
78   1666866       49302                  1          1             16
79   1705605       49302                 10          0             16
80   1709547       49302                  7          0             16
81   1714323       49302                  1          0             16
82   1772878       49302                  2          0             16
83   1779952       49302                  5          1             16
84   1823066       49302                 17          0             16
85   1824102       49302                  7          0             16
86   1828172       49302                  7          1             16
87   1832355       49302                  9          1             16
88   1879051       49302                 22          1             16
89   1895149       49302                  9          1             16
90   1895261       49302                  2          1             16
91   1936235       49302                  7          1             16
92   1967731       49302                  7          1             16
93   1969795       49302                 20          0             16
94   1972255       49302                 19          0             16
95   1977143       49302                 10          1             16
96   1987529       49302                  6          0             16
97   1994090       49302                 19          1             16
98   2024415       49302                  7          0             16
99   2048984       49302                  8          1             16

[100 rows x 5 columns]

In [3]:
import numpy as np
length=len(df3.department_id)
df3['times']=pd.Series(np.ones(length))
df3['times']=df3['times'].astype('int')
df3['first_time']=[1 if i==0 else 0  for i in df3.reordered ]
df3.info()
df3.head(10)
assert df3['reordered'].notnull().all()
#data={'department_id':[df3.department_id.unique().sort()],}

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 33819105
Data columns (total 7 columns):
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
department_id        int64
times                int32
first_time           int64
dtypes: int32(1), int64(6)
memory usage: 1.9 GB

In [6]:
df_gg=pd.DataFrame(df3.groupby('department_id')['times','first_time'].sum())
df_gg.columns=['number_of_orders','number_of_first_orders']
df_gg['percentage']=df_gg.number_of_first_orders/df_gg.number_of_orders
df_gg
df_gg.to_csv('report.csv',encoding='utf-8',index=True)